// Loader rotation
@keyframes loader {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

// Loader fondu
@keyframes fondu {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
        z-index: -111;
    }
}

// Menu d'en bas vers le haut + opacité de 0% à 100%
@keyframes menu {
    0%{
        transform: translateY(30%);
        opacity: 0%;
    }

    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}