.localisation {
    background-color: $couleur-bg;
    text-align: center;
    &__ville {
        background-color: #d9d9d9;
        padding: 1.5em;
        @include tablet(){
            padding: 1em;
        }
    }
    & i {
        margin-right: 1em;
        @include tablet(){
            font-size: 1em;
        }
    }
    & input {
        border: none;
        background: none;
        font-size: 1.5em;
        width: 250px;

        @include tablet {
            font-size: 1em;
            // text-align: center;
            width: 150px;
        }
        &::placeholder {
            color: black;
        }
        
        &:focus {
            &::placeholder{    
                color: transparent;
            }
        }
    }
}

.explorer {
    padding: 5em 0;
    @include tablet(){
        padding: 3em 0;
        
    }
    &__heading {
        padding-bottom: 0.3em;
        @include tablet(){
            font-size: 2em;
        }
        @include mobile(){
            font-size: 1.2em;
            padding-bottom: 1em;
        }
    }
    & p {
        font-size: 2em;
        line-height: 1.8em;
        padding-bottom: 2em;
        @include tablet(){
            font-size: 1.5em;
            line-height: 1.2em;
        }

        @include mobile(){
            font-size: 1em;
        }
    }
}

.fonction {
    @include section-padding();
    &__heading{
        @include tablet(){
            font-size: 2em;
        }
    }
}

.lst-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant {
    background-color: $couleur-bg;
    @include section-padding();
    &__heading {
        padding-bottom: 1em;
        @include tablet(){
            font-size: 2em;
            padding-bottom: 0.5em;
        }
    }
}

.lst-carte {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carte {
    width: 500px;
    overflow: hidden;
    background-color: white;
    margin: 1em;
    border-radius: 10%;
    @include btn-shadow();
    position: relative;
    
    @include laptop {
        width: 400px;
    }

    @include mobile(){
        width: 300px;
    }

    &__nom {
        padding: 1em;
        
        & h3 {
            @include mobile(){
                font-size: 1.2em;
            }
        }

        & p {
            @include mobile(){
                font-size: 1em;
            }
        }
    }

    & img{
        width: 100%;
        height: 250px;
        object-fit: cover;

        @include mobile(){
            height: auto;
        }

    }
    & .btn-coeur {
        position: absolute;
        bottom: 10%;
        right: 10%;
    }
}

.nouveau {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 1em;
    background: $couleur-tertiaire;
    color: darken($color: $couleur-tertiaire, $amount: 35%);
}