.content {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    @include desktop(){
        max-width: 1140px;
    }
    @include tablet(){
        max-width: 720px;
    }

    @include mobile(){
        // width: 90%;
    }

}