.content {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    background: white;
    &--anim{

        animation: contenu 01s $contenu-delay;
        animation-fill-mode: backwards;
        position: relative;
    }
    @include desktop(){
        max-width: 1140px;
    }
    @include tablet(){
        max-width: 720px;
    }

    @include mobile(){
        // width: 90%;
    }

}