.footer {
    background: #353535;
    color: white;
    @include padding-accueil;
    // Media Query
    @include mobile {
        text-align: left;
    }
    &__heading {
        font-family: "Shrikhand", cursive;
        font-size: 2rem;
        margin-bottom: 2rem;
        // Media Query
        @include mobile {
            font-size: 1.5rem;
        }
    }
    // Liste 
    & li {
        margin: 1rem 0;
        font-size: 1.5rem;
        // Media Query
        @include mobile {
            font-size: 0.8rem;
        }
    }
    // Icon du footer
    & i {
        margin-right: 1rem;
        // Media Query
        @include mobile {
            margin-right: 0.5rem;
        }
    }
    // UI Contact
    &__contact{
        &:hover {
            color: $couleur-primaire;
            font-weight: bold;
        }
    }
}