.footer {
    background: #353535;
    color: white;
    text-align: center;
    @include section-padding();
    line-height: 3em;
    
    @include tablet(){
        text-align: left;
    }

    &__heading {
        font-family: "Shrikhand", sans-serif;
        font-size: 3em;
        @include tablet(){
            font-size: 2em;
            padding-left: 3vw;
        }
    }

    & li {
        font-size: 2em;
        @include tablet(){
            font-size: 1.2em;
            padding-left: 3vw;
        }
    }

    & i {

        margin-right: 0.5em;
        font-size: 1.2em;
    }
    & a {
        color: white;
    }
}