.header {
    position: relative;
    font-family: "Shrikhand", cursive;
    &__heading {
        font-size: 5rem;
        padding: 1rem;
        @include mobile {
            font-size: 2rem;
        }
    }
}