.menu {
    background-color: white;
    position: relative;
    top: -50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 2em;
    padding-left: 2em;

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        & .btn-coeur {
            margin-right: 3em;
            font-size: 1.5em;

            @include mobile {
                font-size: 1em;
            }
        }
    }
}

// Animation des menus
.menu-etape-1{
    animation: menu 2s both;
}
.menu-etape-2{
    animation: menu 2s both;
    animation-delay: 2s;
}
.menu-etape-3{
    animation: menu 2s both;
    animation-delay: 3s;
}

.menu-nom {
    @include nom-restaurant-menu;
}

.menu-etape {

    &__heading{
        @include title-menu;
    }
}