.loader-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $couleur-bg;
    z-index: 999;
    animation: fondu 1s forwards;
    animation-delay: 3s;
}

.loader {
    width: 120px;
    height: 120px;
    border: 1rem solid $couleur-primaire;
    border-top: 1rem solid $couleur-secondaire;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loader 1s linear;
    animation-iteration-count: 4;
}