.loader {
    width: 300px;
    height: 300px;
    border: 1em solid $couleur-primaire;
    border-top: 1em solid $couleur-secondaire;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    animation: loader 1s linear;
    animation-iteration-count: 4;
}

@keyframes contenu {
    0% {
        transform: translateX(-9999px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}