// Reset marge
* {
    margin: 0; 
    padding:0;
    box-sizing: border-box;
}

// Police par défaut
body {
    font-family: "Roboto", sans-serif;
}

//  UL par défaut
ul {
    list-style-type: none;
}

// Lien par défaut
a {
    text-decoration: none;
    color: black;
}