h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Roboto', cursive;
    font-size: 2.2em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 1.4em;
    &::placeholder{
        color: black;
        font-family: "Robot", sans-serif;
    }
}