body {
    font-family: "Roboto", sans-serif;
}


h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
}

p {
    font-weight: 300;
}

// Cancel l'input pour un simple p 
// -cause n'arrive pas à mettre le logo dans le placeholder-
// input {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 700;
//     color: black;
//     font-size: 1.2em;
//     &::placeholder{
//         color: black;
//         font-family: "Robot", sans-serif;
//     }
// }